matplotlib==3.8.2
numpy==1.26.3
pandas==2.1.4
scipy==1.11.4
openpyxl==3.1.2

pywin32==306

# PySimpleGUI installed manually from local wheel
# pip install PySimpleGUI-4.60.5-py3-none-any.whl

ghostscript==0.7

# Developer/ Testing tools 
pytest==8.4.2
coverage==7.12.0
pytest-cov==7.0.0
